.navbar{
    height: 4.375rem;
    background-color: #2D82BE;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;

    .navbar__content{
        display: flex;
        @media (max-width: 824px) {
            display: flex;
            justify-content: space-between;
        }
        
        .navbar__logo{
            margin-right: 3.25rem;
            display: flex;
            flex-direction: column;

            .navbar__logo-img{
                width: 7.1rem;
            }
            .navbar__logo-text{
                width: 3.25rem;
                height: 6.83px;
                margin: 3px auto;
            }
        }
        .navbar__catalog{
            width: 8.6rem;
            height: 2.5rem;
            background-color: #0000001A;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-right: 1.375rem;
            @media (max-width: 824px){
                display: none;
            } 
        }
        .navbar__input{
            margin-right: 1.375rem;
            input{
            width: 42.1rem;
            height: 2.5rem;
            border-radius: 100px;
            border: none;
            background: url('../images/Search.svg') no-repeat;
            background-position: 11px center;
            background-size: 18px;
            background-color: #fff;
            padding-left: 2.5rem;

            @media (max-width: 1280px){
                width: 35rem;
            }  
            @media (max-width: 1200px){
                width: 30rem;
            } 
            @media (max-width: 1110px){
                width: 25rem;
            }
            @media (max-width: 1000px){
                width: 20rem;
            }
            @media (max-width: 900px){
                width: 15rem;
            }
            @media (max-width: 500px) {
                display: none;
            }

            &::placeholder{
                color: #949494;
                font-size: 13px;
            }
            }
        }
        .navbar__signIn{
            margin-right: 9px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // @media (max-width: 1400px){
            //    margin-right: 15px;
            // }
            @media (max-width: 824px){
                display: none;
            }
            .sign__welcome{
                font-size: 10px;
                font-weight: 400;
            }
            .sign__text{
                font-size: 14px;
                font-family: 'Gilroy-Bold', sans-serif;
            }
        }
        .navbar__cart{
            display: flex;
            gap: 10px;
            // @media (max-width: 1400px){
            //     margin-left: 2rem;
            //  }
            @media (max-width: 824px){
                display: none;
            }
        }
        .navbar__menu, .navbar__burger-menu{
            display: none;
            color: #fff;
            margin-right: 15px;
            @media (max-width: 824px) {
                display: block;
            }
        }
       
    }
    .burger-menu__list{
        position: absolute;
        background-color: #2D82BE;
        color: #fff;
        font-size: 30px;
        width: 70vw;
        left: 13vw;
        top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 22rem;
        
        a{
            padding: 0 10px;
            &:hover{
                font-weight: 700;
                font-size: 33px;
            }
        }
        span{
            &:hover{
                font-weight: 700;
            }
        }
       }
}