@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    cursor: pointer;
}

.container {
    width: 91vw;
    margin: 0 auto;
    @media (max-width: 1850px){
        width: 95vw;
        padding: 0 15px;
    }
    // @media (max-width: 1765px){
    //     width: 100vw;
    //     padding: 0 15px;
    // }
}

.App {
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif;
    background-color: #F8FAFF;
}