.discounts{
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    .discounts__item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 7px;
        p{
            font-size: 12px;
            font-weight: 400;
        }
    }
}